@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes modal-open {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes modal-close {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.95);
  }
}

.animate-modal-open {
  animation: modal-open 0.3s ease-in-out forwards;
}

.animate-modal-close {
  animation: modal-close 0.3s ease-in-out forwards;
}

.rbc-month-view .rbc-date-cell:hover {
  cursor: pointer;
}

/* Weekend headers */
.rbc-month-view .rbc-header:nth-child(7n + 6),
.rbc-month-view .rbc-header:nth-child(7n + 7) {
  color: #ef4444;
}
